<template>
  <div class="container q-pa-md">
    <div class="row justify-center">
      <h6 class="text-center q-ma-sm">
        InCA Train by
        <a href="https://buho.dcc.uchile.cl/~inca/inca.en.html">InCALab</a>
      </h6>
    </div>
    <div class="row justify-center">
      <h5 class="text-center text-bold  q-ma-sm">
        Assets
      </h5>
    </div>
    <div class="row justify-center">
      <h5 class="text-center text-bold  q-ma-sm">
        Clicker image:
      </h5>
      <div class=" q-ma-md">
        Icons made by
        <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons"
          >Smashicons</a
        >
        from
        <a
          href="https://www.flaticon.com/free-icon/training_2372958?term=dog%20training&related_id=2372958"
          title="Flaticon"
          >flaticon</a
        >
      </div>
    </div>
    <div class="row justify-center">
      <h5 class="text-center text-bold  q-ma-sm">
        Clicker sound:
      </h5>
      <div class=" q-ma-md">
        DANMITCH3LL at
        <a href="https://freesound.org/s/232018/"> freesound.org </a>
      </div>
    </div>
    <div class="row justify-center">
      <h5 class="text-center text-bold  q-ma-sm">
        Failed buzz sound:
      </h5>
      <div class=" q-ma-md">
        Framing_Noise at
        <a href="https://freesound.org/s/223182/"> freesound.org </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "About"
}
</script>
