<template>
  <h3>Welcome</h3>
  <div class="row justify-center">
    <div class="col-md-5 col-sm-12" v-if="trainees.length > 0">
      <q-list
        style="min-width: 100px"
        separator
        bordered
        v-if="recomendations.length > 0"
      >
        <q-item>
          <q-item-section>
            <b class="text-h4">Recomended plans</b>
          </q-item-section>
        </q-item>
        <q-separator />
        <template v-for="(recomendation, index) in recomendations" :key="index">
          <q-item
            clickable
            @click="redirect(recomendation.id)"
            v-ripple
            v-close-popup
          >
            <q-item-section>
              <q-item-label overline>
                <span class="plans">
                  {{ recomendation.title }}
                </span>
              </q-item-label>
              <q-item-label caption>
                Last session:
                {{
                  recomendation.lastExec != null
                    ? new Date(recomendation.lastExec)
                        .toString()
                        .substring(0, 10)
                    : "Not used Yet"
                }}
              </q-item-label>
            </q-item-section>
          </q-item>
        </template>
      </q-list>
      <template v-else-if="plans.length > 0">
        <h5>
          All Done! Congratulations!
        </h5>
        <br />
        <q-btn
          color="teal"
          @click="$router.push('/planList')"
          label="See all the plans"
        />
      </template>
      <template v-else>
        <h5>
          It seems that your trainee doesn't have any training plans!
        </h5>
        <br />
        <q-btn
          color="teal"
          @click="$router.push('/planList')"
          label="Go to plan List"
        />
      </template>
    </div>
    <div v-else class="col-md-5 col-sm-12">
      <h5>
        It seems that you don't have trainees!
      </h5>
      <br />
      <q-btn
        color="teal"
        @click="$router.push('/newTrainee')"
        label="Add new Trainee"
      />
    </div>
  </div>
  <br />
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: "Home",
  computed: {
    recomendations () {
      return this.$store.getters.getRecomendations
    },
    plans () {
      return this.$store.getters.getPlans
    },
    trainees () {
      return this.$store.getters.getTrainees
    }
  },
  methods: {
    redirect (planId) {
      this.$router.push("/planDetails/" + planId)
    }
  }
}
</script>

<style scoped>
.plans {
  font-weight: bold;
  font-size: medium;
}
</style>
