<template>
  <div class="container q-py-lg" v-if="plans.length > 0">
    <div class="row justify-center">
      <div class="col-md-11 col-sm-11 col-xs-11 col-lg-5 ">
        <div class="row q-gutter-lg justify-center q-pb-xs">
          <div class="col-lg-6 col-md-11 col-sm-11 col-xs-11 ">
            <q-input
              filled
              bottom-slots
              v-model="search"
              dense
              label="Search plan"
            >
              <template v-slot:append>
                <q-icon
                  v-if="search !== ''"
                  name="close"
                  @click="search = ''"
                  class="cursor-pointer"
                />
                <q-icon name="search" />
              </template>
            </q-input>
          </div>
        </div>
        <div class="row">
          <div class="fit">
            <q-list bordered>
              <template v-for="(plan, index) in filteredPlans" :key="index">
                <q-separator v-if="index > 0" />
                <q-item
                  clickable
                  @click="getHumanReadableLog(plan.id)"
                  v-ripple
                >
                  <q-item-section>
                    {{ plan.title }}
                  </q-item-section>
                </q-item>
              </template>
            </q-list>
          </div>
        </div>
      </div>
    </div>
  </div>
  <template v-else>
    <h5>
      It seems that your trainee doesn't have any training plans!
    </h5>
    <br />
    <q-btn
      color="teal"
      @click="$router.push('/planList')"
      label="Go to plan List"
    />
  </template>
  <q-dialog v-model="showLog">
    <q-card style="min-width: 350px">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Log</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>
      <q-separator />
      <template v-if="log !== undefined">
        <!-- pantalla pequena < md -->
        <q-card-section class="row text-justify lt-md">
          <q-scroll-area
            visible
            class="col"
            style="height: 300px; min-width: 300px; max-width:300px;"
          >
            <span style="white-space: pre-line">{{ log }}</span>
          </q-scroll-area>
        </q-card-section>
        <!-- pantalla grande > sm -->
        <q-card-section class="row text-justify gt-sm ">
          <q-scroll-area
            visible
            class="col"
            style="min-height:400px; max-heigh:400px; min-width: 500px;"
          >
            <span style="white-space: pre-line">{{ log }}</span>
          </q-scroll-area>
        </q-card-section>
        <q-card-actions>
          <q-btn color="primary">
            <a
              :href="download"
              :download="
                new Date()
                  .toISOString()
                  .substring(0, 10)
                  .split('-')
                  .join('_') +
                  '-' +
                  planName +
                  '.csv'
              "
            >
              <span style="color: white" class="text-weight-medium"
                >Download</span
              >
            </a>
          </q-btn>
        </q-card-actions>
      </template>
      <template v-else>
        <q-card-section class="text-center">
          <h4>
            This plan doesn't have a log.
          </h4>
          <h4>Give it a try!</h4>
        </q-card-section>
        <q-card-actions align="center">
          <q-btn
            @click="$router.push(`/planDetails/${pId}`)"
            label="Go To Plan"
            color="teal"
          />
        </q-card-actions>
      </template>
    </q-card>
  </q-dialog>
</template>

<script>
import { ref } from "vue"
export default {
  name: "log",
  data () {
    return {
      log: ref("?"),
      showLog: ref(false),
      pId: ref(0),
      search: ref(""),
      download: "",
      planName: ""
    }
  },
  computed: {
    plans () {
      return this.$store.getters.getPlans
    },
    filteredPlans () {
      const t = this.plans.filter(plan =>
        plan.title.toLowerCase().includes(this.search.toLowerCase())
      )
      return t
    }
  },
  methods: {
    getHumanReadableLog (planId) {
      this.log = this.$store.getters.getHumanReadableLog(planId)
      if (this.log !== undefined) {
        this.planName = this.plans
          .find(plan => planId === plan.id)
          .title.split(" ")
          .join("_")
        this.download = this.$store.getters.downloadLog(planId)
      }
      this.showLog = !this.showLog
      this.pId = planId
    }
  }
}
</script>

<style scoped>
a {
  text-decoration: none;
}
</style>
