// TODO: Implement Login page
<template>
  <div class="container q-pa-xl fit">
    <div class="row justify-center">
      <div class="col-md-5 col-sm-11 col-xs-11 absolute-center">
        <q-card class="fit">
          <q-img :src="icon" width="50%" height="50%" />
          <q-card-section>
            <q-input label="Username" v-model="user" />
          </q-card-section>
          <q-card-section>
            <q-input type="password" label="Password" v-model="pass" />
          </q-card-section>
          <q-card-section>
            <q-btn label="Log In" @click="logIn()" />
          </q-card-section>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'login',
  data () {
    return {
      user: 'InCA_User',
      pass: 'password'
    }
  },
  methods: {
    logIn () {
      this.$store.commit('logIn')
      this.$router.push('/')
    }
  },
  computed: {
    icon () {
      return require('./../assets/logo.png')
    }
  }
}
</script>

<style>
/* body {
  background-color: teal;
} */
</style>
