// TODO: Explorar la opcion de cambiar la edad a una fecha especifica // o
permitir colocar meses
<template>
  <div class="row justify-center q-pt-sm">
    <div class="col-md-5 col-sm-11 col-xs-11">
      <h4>
        Create New Trainee
      </h4>
      <!-- Small screen (En un refactoring seria bueno separarlo en un Componente) -->
      <q-card class="fit">
        <q-card-section>
          <!-- <q-card-section>
            <q-avatar color="primary" text-color="white" size="120px">
              {{ trainees[selected].name.substring(0, 1).toUpperCase() }}
            </q-avatar>
          </q-card-section> -->
          <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
            <q-card-section>
              <q-input
                filled
                v-model="traineeName"
                label="Trainee's name"
                lazy-rules
                :rules="[
                  val => (val && val.length > 0) || 'Please type a Name'
                ]"
              />
              <q-input
                filled
                v-model="species"
                label="Trainee's species"
                lazy-rules
                :rules="[
                  val => (val && val.length > 0) || 'Please type a species'
                ]"
              />
              <div class="bg-grey-2 q-pa-sm q-mb-md rounded-borders">
                <span class="text-h6 text-weight-regular">
                  Trainee's gender:
                </span>
                <q-option-group
                  name="gender"
                  :options="options"
                  v-model="gender"
                  color="primary"
                  inline
                />
              </div>
              <q-input
                filled
                type="number"
                v-model="age"
                label="Trainee's age in years"
                lazy-rules
                :rules="[
                  val => (val !== null && val !== '') || 'Please type the age',
                  val => (val >= 0 && val < 100) || 'Please type a real age'
                ]"
              />
            </q-card-section>
            <q-card-actions align="center">
              <div class="row q-gutter-md">
                <q-btn label="Submit" type="submit" color="teal" />
                <q-btn
                  label="Cancel"
                  color="red"
                  @click="$router.push('/trainees')"
                />
              </div>
            </q-card-actions>
          </q-form>
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<script>
import { ref } from "vue"
export default {
  name: "Trainess",
  setup () {
    const traineeName = ref(null)
    const species = ref(null)
    const gender = ref("male")
    const age = ref(null)
    const options = [
      { label: "Male", value: "male" },
      { label: "Female", value: "female" }
    ]
    return {
      traineeName,
      species,
      gender,
      age,
      options,

      onReset () {
        traineeName.value = null
        age.value = null
        gender.value = "male"
        species.value = null
      }
    }
  },
  methods: {
    onSubmit () {
      this.$store.commit("newTrainee", {
        traineeName: this.traineeName,
        species: this.species,
        gender: this.gender,
        age: this.age
      })
      this.$router.push("/trainees")
    }
  }
}
</script>
