<template>
  <div class="container q-py-lg">
    <div class="row justify-center">
      <div class="col-md-11 col-sm-11 col-xs-11 col-lg-5 ">
        <div
          class="row q-gutter-lg justify-center q-pb-xs"
          v-if="plans.length > 0"
        >
          <div class="col-lg-6 col-md-11 col-sm-11 col-xs-11 ">
            <q-input
              filled
              bottom-slots
              v-model="search"
              :dense="dense"
              label="Search plan"
            >
              <template v-slot:append>
                <q-icon
                  v-if="search !== ''"
                  name="close"
                  @click="search = ''"
                  class="cursor-pointer"
                />
                <q-icon name="search" />
              </template>
            </q-input>
          </div>
          <div class="col-lg-5 col-md-11 col-sm-11 col-xs-11">
            <q-select
              v-model="sortBy"
              :options="sortOptions"
              label="Sort By"
              item-aligned
            >
            </q-select>
          </div>
        </div>

        <div class="row">
          <div class="fit">
            <q-list bordered v-if="filteredSortedPlans.length > 0">
              <template
                v-for="(plan, index) in filteredSortedPlans"
                :key="index"
              >
                <q-separator v-if="index > 0" />
                <q-item
                  clickable
                  :to="'/planDetails/' + plan.id"
                  v-ripple
                  exact
                >
                  <q-item-section>
                    {{ plan.title }}
                  </q-item-section>
                </q-item>
              </template>
            </q-list>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-center q-my-xs">
    <q-btn label="add new plan" color="teal" @click="newPlan = !newPlan" />
  </div>
  <q-dialog v-model="newPlan">
    <q-card style="min-width: 300px">
      <q-card-section class="row items-center  ">
        <div class="text-h6">Add a new Plan</div>
        <q-space />
        <q-btn icon="close" flat round dense @click="newPlan = !newPlan" />
      </q-card-section>
      <q-card-actions class="q-gutter-md" vertical>
        <q-btn
          color="primary"
          style="max-width: 200px"
          @click="downloadTemplate"
          label="Download Template"
        />
        <q-btn
          color="primary"
          style="max-width: 200px"
          label="Download Example"
          @click="downloadExample"
        />
      </q-card-actions>
      <q-card-actions>
        <q-file
          v-model="plan"
          label="Upload plan"
          filled
          style="max-width: 200px"
          error-message="Error parsing the file"
          :error="errorFile"
          accept=".json"
        >
          <template v-slot:prepend>
            <q-icon name="attach_file" />
          </template>
        </q-file>
      </q-card-actions>
      <q-card-actions>
        <q-btn
          label="Save"
          color="teal"
          :disable="plan == null"
          @click="uploadPlan()"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import { ref } from "vue"
import { exportFile } from "quasar"

export default {
  name: "PlanList",
  data () {
    return {
      plan: ref(null),
      newPlan: ref(false),
      search: ref(""),
      dense: ref(false),
      sortBy: ref("None"),
      errorFile: ref(false),
      sortOptions: [
        "None",
        "Most recent execution",
        "Least recent execution",
        "Lower level",
        "Higher Level"
      ],
      filterCases: {
        completed: ref(false),
        level: ref(false),
        levelVal: []
      }
    }
  },
  computed: {
    plans () {
      return this.$store.getters.getPlans
    },
    filteredSortedPlans () {
      const t = this.plans.filter(plan =>
        plan.title.toLowerCase().includes(this.search.toLowerCase())
      )
      t.sort((a, b) => {
        if (this.sortBy === "None") {
          return 0
        } else if (this.sortBy === "Most recent execution") {
          try {
            return a.lastExec.getTime() - b.lastExec.getTime()
          } catch {
            return -1
          }
        } else if (this.sortBy === "Least recent execution") {
          try {
            return b.lastExec.getTime() - a.lastExec.getTime()
          } catch {
            return 1
          }
        } else if (this.sortBy === "Higher Level") {
          return b.level - a.level
        } else if (this.sortBy === "Lower level") {
          return a.level - b.level
        }
      })
      return t
    }
  },
  methods: {
    sortElems: (a, b) => {
      if (this.sortBy === "None") {
        return 0
      } else if (this.sortBy === "Most recent execution") {
        return a.lastExec.getTime() - b.lastExec.getTime()
      } else if (this.sortBy === "Least recent execution") {
        return a.lastExec.getTime() - b.lastExec.getTime()
      }
    },
    filterFunc: plan => {
      let retVal = plan.title.toLowerCase().includes(this.search.toLowerCase())
      if (!retVal) {
        return retVal
      }
      if (this.filterCase.completed) {
        retVal = retVal && plan.completed
      }
      if (this.filterCase.level) {
        retVal = retVal && this.filterCase.levelVals.contains(plan.level)
      }
      return retVal
    },
    uploadPlan () {
      this.plan.text().then(r => {
        this.$store.dispatch("uploadPlan", r).then(success => {
          this.errorFile = !success
          if (success) {
            this.plan = null
            this.newPlan = false
          }
        })
      })
    },
    downloadTemplate () {
      exportFile("template.json", this.$store.getters.downloadTemplate)
    },
    downloadExample () {
      exportFile("example.json", this.$store.getters.downloadExample)
    }
  }
}
</script>

<style scoped>
a {
  text-decoration: none;
}
</style>
