<template>
  <h3>{{ plan.title }}</h3>
  <Graph :nodes="plan.nodes" :planId="plan.id" :key="plan.id" />
</template>
<script>
import Graph from '../components/Graph.vue'

export default {
  name: 'PlanView',
  components: {
    Graph
  },
  computed: {
    plan () {
      return this.$store.getters.getPlanById(this.$route.params.id)
    }
  }
}
</script>
