<template>
  <div class="row justify-center">
    <div class="col-md-3 col-sm-12">
      <q-card class="fit" square flat>
        <q-img
          src="https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/blogs/7042/images/L5BuTKdWT5qtcV8MZSvF_iStock-139860165.jpg"
        />
        <q-card-section>
          <div class="text-h4">{{ plan.title }}</div>
          <div class="text-subtitle1">By {{ plan.madeBy }}</div>
        </q-card-section>
        <q-card-section>
          <div class="text-justify">
            {{ plan.description }}
          </div>
        </q-card-section>
        <q-card-section>
          <div class="row">
            <div class="text-h5">
              <span class="text-bold"> Status: </span>
              {{ plan.completed ? "Completed" : "In Progress" }}
            </div>
          </div>
          <div class="row">
            <div class="text-h5">
              <span class="text-bold"> Current Level: </span>
              {{ plan.level }}
            </div>
          </div>
          <div class="row">
            <div class="text-h5">
              <span class="text-bold"> Last Execution: </span>
              {{
                plan.lastExec != null
                  ? new Date(plan.lastExec).toString().substring(0, 10)
                  : "Not used yet"
              }}
            </div>
          </div>
          <div class="row">
            <div class="text-h5">
              <span class="text-bold"> Next Planned Session: </span>
              {{
                plan.lastExec != null
                  ? new Date(nextExecution).toString().substring(0, 10)
                  : "Not used yet"
              }}
            </div>
          </div>
        </q-card-section>
        <q-card-section class="q-gutter-md">
          <q-btn color="teal" label="View Plan" @click="goToPlan()" />
          <q-btn
            color="red"
            label="Delete"
            @click="delete_modal = !delete_modal"
          />
        </q-card-section>
      </q-card>
    </div>

    <Modal
      v-if="delete_modal"
      v-on:closeModal="delete_modal = !delete_modal"
      v-on:action="deletePlan"
    >
      <template v-slot:header>
        Reset app
      </template>
      <template v-slot:cardSection>
        Are you sure you want to delete this plan?
        <br />
        <span class="text-bold">
          This action can't be undone.
        </span>
      </template>
    </Modal>
  </div>
</template>

<script>
import { ref } from "vue"
import Modal from "../components/utils/Modal.vue"
export default {
  name: "PlanDetails",
  components: { Modal },
  data () {
    return {
      delete_modal: ref(false)
    }
  },
  computed: {
    plan () {
      const planId = this.$route.params.planId
      return this.$store.getters.getPlanById(planId)
    },
    nextExecution () {
      const planId = this.$route.params.planId
      return this.$store.getters.calculateNextSession(planId)
    }
  },
  methods: {
    goToPlan () {
      this.$router.push(`/plan/${this.plan.id}`)
    },
    deletePlan (action) {
      this.delete_modal = !this.delete_modal
      if (!action) return
      this.$router.push("/planlist")
      this.$store.commit("deletePlan", this.$route.params.planId)
    }
  }
}
</script>
