<template>
  <div class="row justify-center q-py-sm">
    <div class="col-md-2 col-sm-12">
      <q-list bordered padding style="max-width: 350px justify-center">
        <q-item>
          <q-item-section>
            <q-item-label overline>
              <span class="overline">
                Spaced Repetition Function
              </span>
            </q-item-label>
            <q-item>
              <q-item-section>
                <q-select
                  v-model="localSettings.spacedRepetitionFunction"
                  :options="functions"
                  filled
                  class="text-capitalize"
                  dense
                />
              </q-item-section>
              <q-item-section side>
                <q-icon name="info" class="text-blue cursor-pointer">
                  <q-popup-proxy
                    transition-show="flip-up"
                    transition-hide="flip-down"
                    :breakpoint="10000"
                  >
                    <q-banner class="bg-teal text-white">
                      <ul>
                        <li>
                          Incremental: The time between sessions will increase
                          acording to plan level.
                        </li>
                        <li>
                          Constant Value: The time between sessions will remain
                          the same as the repetition interval.
                        </li>
                      </ul>
                    </q-banner>
                  </q-popup-proxy>
                </q-icon>
              </q-item-section>
            </q-item>
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>
            <q-item-label overline>
              <span class="overline">
                Repetition Interval
              </span>
            </q-item-label>
            <q-item>
              <q-item-section>
                <q-input
                  v-model.number="localSettings.repInterval"
                  type="number"
                  filled
                  dense
                />
              </q-item-section>
              <q-item-section side>
                <q-icon name="info" class="text-blue cursor-pointer">
                  <q-popup-proxy
                    transition-show="flip-up"
                    transition-hide="flip-down"
                    :breakpoint="10000"
                  >
                    <q-banner class="bg-teal text-white">
                      Repetition Interval sets the spacing between sessions
                      according to the current level of the plan. For example, a
                      Repetition Interval of 1 would make the spacing 1, 2, 3, 4
                      for the incremental function and 1, 1, 1, 1 for the
                      constant one.
                    </q-banner>
                  </q-popup-proxy>
                </q-icon>
              </q-item-section>
            </q-item>
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>
            <q-item-label overline>
              <span class="overline">
                Max Plan level
              </span>
            </q-item-label>
            <q-item>
              <q-item-section>
                <q-input
                  v-model.number="localSettings.maxPlanLevel"
                  type="number"
                  filled
                  dense
                />
              </q-item-section>
              <q-item-section side>
                <q-icon name="info" class="text-blue cursor-pointer">
                  <q-popup-proxy
                    transition-show="flip-up"
                    transition-hide="flip-down"
                    :breakpoint="10000"
                  >
                    <q-banner class="bg-teal text-white">
                      Max level that a plan can achieve.
                    </q-banner>
                  </q-popup-proxy>
                </q-icon>
              </q-item-section>
            </q-item>
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>
            <q-item-label overline>
              <span class="overline">
                Default Exit Penalty
              </span>
            </q-item-label>
            <q-item>
              <q-item-section>
                <q-input
                  v-model.number="localSettings.exitPenalty"
                  type="number"
                  filled
                  dense
                />
              </q-item-section>
              <q-item-section side>
                <q-icon name="info" class="text-blue cursor-pointer">
                  <q-popup-proxy
                    transition-show="flip-up"
                    transition-hide="flip-down"
                    :breakpoint="10000"
                  >
                    <q-banner class="bg-teal text-white">
                      Default value for when you want to decrease a plan level
                      after exiting a training session (can be changed in the
                      exit modal)
                    </q-banner>
                  </q-popup-proxy>
                </q-icon>
              </q-item-section>
            </q-item>
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>
            <q-item-label overline>
              <span class="overline">
                Level increase after
              </span>
            </q-item-label>
            <q-item>
              <q-item-section>
                <q-select
                  v-model="localSettings.levelAfter"
                  :options="after"
                  filled
                  class="text-capitalize"
                  dense
                />
              </q-item-section>
              <q-item-section side>
                <q-icon name="info" class="text-blue cursor-pointer">
                  <q-popup-proxy
                    transition-show="flip-up"
                    transition-hide="flip-down"
                    :breakpoint="10000"
                  >
                    <q-banner class="bg-teal text-white">
                      <ul>
                        <li>
                          After it's completed: After you have completed the
                          plan, each finished session will increase the plan
                          level.
                        </li>
                        <li>
                          Each Session: Each time you finish a session, the plan
                          will increase it's level.
                        </li>
                      </ul>
                    </q-banner>
                  </q-popup-proxy>
                </q-icon>
              </q-item-section>
            </q-item>
          </q-item-section>
        </q-item>
      </q-list>
      <div class="row justify-center q-gutter-md q-pt-sm">
        <q-btn
          color="red"
          label="Reset the app"
          @click="dataModal = !dataModal"
        />

        <q-btn @click="save" label="Save" color="primary" />
      </div>
    </div>
  </div>

  <Modal
    v-if="dataModal"
    v-on:closeModal="dataModal = !dataModal"
    v-on:action="deleteAll"
  >
    <template v-slot:header>
      Reset app
    </template>
    <template v-slot:cardSection>
      <span class="text-bold">
        Are you sure you want to reset the app? This will delete all data
        (trainees, plans, logs and settings)
      </span>
    </template>
  </Modal>
</template>

<script>
import { ref } from "vue"
import _ from "lodash"
import Modal from "../components/utils/Modal.vue"

export default {
  name: "Settings",
  components: { Modal },
  data () {
    return {
      dataModal: ref(false),
      localSettings: ref({}),
      after: ref([
        { value: 0, label: "After it's completed" },
        { value: 1, label: "Each session" }
      ])
    }
  },
  methods: {
    save () {
      this.$store.commit("saveSettings", this.localSettings)
    },
    restore () {
      this.settings = this.$store.getters.getSettings
    },
    deleteAll (action) {
      this.dataModal = !this.dataModal
      if (!action) return
      this.$store.commit("deleteAllData")
    }
  },
  computed: {
    settings () {
      return this.$store.getters.getSettings
    },
    functions () {
      return this.$store.getters.getSpacedRepetitionFunctions
    }
  },
  watch: {
    settings: {
      deep: true,
      handler () {
        this.localSettings = _.cloneDeep(this.settings)
      }
    }
  },
  mounted () {
    this.localSettings = _.cloneDeep(this.settings)
    if (this.localSettings.spacedRepetitionFunction === 0) {
      this.settings.spacedRepetitionFunction = this.functions[0]
    }
  }
}
</script>

<style scoped>
.overline {
  font-weight: bold;
  font-size: large;
}
a {
  text-decoration: none;
}
</style>
