<template>
  <div class="row justify-center q-py-sm">
    <div class="col-md-5 col-sm-11 col-xs-11" v-if="trainees.length > 0">
      <q-card>
        <q-select
          v-model="selected"
          :options="traineesOptions"
          v-if="!edit"
          item-aligned
          dense
          outlined
        />
        <q-card-section class="fit gt-sm" horizontal v-if="selected != null">
          <q-card-section class="col-3">
            <div class="absolute-center">
              <q-avatar color="primary" text-color="white" size="120px">
                {{
                  trainees[selected.value].name.substring(0, 1).toUpperCase()
                }}
              </q-avatar>
            </div>
          </q-card-section>
          <q-card-section class="col-9">
            <template v-if="!edit">
              <q-markup-table separator="cell" flat bordered>
                <tbody>
                  <template
                    v-for="(data, index) in Object.entries(
                      trainees[selected.value]
                    )"
                    :key="index"
                  >
                    <template v-if="data[0] !== 'id'">
                      <tr>
                        <td>
                          <span class="text-h5 text-capitalize">
                            {{ data[0] }}
                          </span>
                        </td>
                        <td>
                          <span class="text-h6 text-weight-thin">
                            {{ data[1] }}
                          </span>
                        </td>
                      </tr>
                    </template>
                  </template>
                </tbody>
              </q-markup-table>
            </template>
            <template v-else>
              <q-input
                filled
                v-model="trainees[selected.value].name"
                label="Trainee's name"
                lazy-rules
                :rules="[
                  val => (val && val.length > 0) || 'Please type a Name'
                ]"
              />
              <q-input
                filled
                v-model="trainees[selected.value].species"
                label="Trainee's species"
                lazy-rules
                :rules="[
                  val => (val && val.length > 0) || 'Please type a species'
                ]"
              />
              <div class="bg-grey-2 q-pa-sm q-mb-md rounded-borders">
                <span class="text-h6 text-weight-regular">
                  Trainee's gender:
                </span>
                <q-option-group
                  name="gender"
                  :options="options"
                  v-model="trainees[selected.value].gender"
                  color="primary"
                  inline
                />
              </div>
              <q-input
                filled
                type="number"
                v-model="trainees[selected.value].age"
                label="Trainee's age in years"
                lazy-rules
                :rules="[
                  val => (val !== null && val !== '') || 'Please type the age',
                  val => (val > 0 && val < 100) || 'Please type a real age'
                ]"
              />
            </template>
          </q-card-section>
        </q-card-section>
        <!-- Small screen (En un refactoring seria bueno separarlo en un Componente) -->
        <q-card-section class="fit lt-md" v-if="selected != null">
          <q-card-section>
            <q-avatar color="primary" text-color="white" size="120px">
              {{ trainees[selected.value].name.substring(0, 1).toUpperCase() }}
            </q-avatar>
          </q-card-section>
          <template v-if="!edit">
            <q-markup-table separator="cell" flat bordered>
              <tbody>
                <template
                  v-for="(data, index) in Object.entries(
                    trainees[selected.value]
                  )"
                  :key="index"
                >
                  <template v-if="data[0] !== 'id'">
                    <tr>
                      <td>
                        <span class="text-h5 text-capitalize">
                          {{ data[0] }}
                        </span>
                      </td>
                      <td>
                        <span class="text-h6 text-weight-thin">
                          {{ data[1] }}
                        </span>
                      </td>
                    </tr>
                  </template>
                </template>
              </tbody>
            </q-markup-table>
          </template>
          <q-card-section v-else>
            <q-input
              filled
              v-model="trainees[selected.value].name"
              label="Trainee's name"
              lazy-rules
              :rules="[val => (val && val.length > 0) || 'Please type a Name']"
            />
            <q-input
              filled
              v-model="trainees[selected.value].species"
              label="Trainee's species"
              lazy-rules
              :rules="[
                val => (val && val.length > 0) || 'Please type a species'
              ]"
            />
            <div class="bg-grey-2 q-pa-sm q-mb-md rounded-borders">
              <span class="text-h6 text-weight-regular">
                Trainee's gender:
              </span>
              <q-option-group
                name="gender"
                :options="options"
                v-model="trainees[selected.value].gender"
                color="primary"
                inline
              />
            </div>
            <q-input
              filled
              type="number"
              v-model="trainees[selected.value].age"
              label="Trainee's age in years"
              lazy-rules
              :rules="[
                val => (val !== null && val !== '') || 'Please type the age',
                val => (val > 0 && val < 100) || 'Please type a real age'
              ]"
            />
          </q-card-section>
        </q-card-section>
        <q-card-actions
          v-if="!edit && selected != null"
          class="q-mb-sm"
          align="center"
        >
          <q-btn
            color="teal"
            label="Go to plans"
            @click="$router.push('/planlist')"
          />
          <q-btn color="primary" label="Edit" @click="this.edit = !edit" />
          <q-btn
            color="negative"
            label="Delete"
            @click="delete_modal = !delete_modal"
          />
        </q-card-actions>
        <q-card-actions
          v-if="edit && selected != null"
          class="q-mb-sm q-gutter-md"
          align="center"
        >
          <q-btn color="teal" label="Save" @click="saveEdit" />
          <q-btn color="teal" label="Cancel" @click="cancelEdit" flat />
        </q-card-actions>
      </q-card>
    </div>
  </div>
  <q-btn
    label="Add New Trainee"
    class="q-mb-sm"
    @click="newTrainee"
    v-if="!edit"
    color="teal"
  />

  <Modal
    v-if="delete_modal"
    v-on:closeModal="delete_modal = !delete_modal"
    v-on:action="deleteTrainee"
  >
    <template v-slot:header>
      Delete Trainee
    </template>
    <template v-slot:cardSection>
      Are you sure you want to delete {{ selected.label }}?
      <br />
      <span class="text-bold">
        This action can't be undone.
      </span>
    </template>
  </Modal>
</template>

<script>
import { ref } from "vue"
import Modal from "../components/utils/Modal.vue"
export default {
  name: "Trainess",
  components: { Modal },
  data () {
    return {
      edit: ref(false),
      selected: ref(null),
      options: [
        { label: "Male", value: "male" },
        { label: "Female", value: "female" }
      ],
      delete_modal: ref(false)
    }
  },
  computed: {
    trainees: {
      get () {
        return this.$store.getters.getTrainees
      }
    },
    traineesOptions () {
      return this.trainees.map((trainee, index) => {
        return { label: trainee.name, value: index }
      })
    }
  },
  methods: {
    newTrainee () {
      this.$router.push("newTrainee")
    },
    saveEdit () {
      this.$store.commit("saveTraineeEdit")
      this.edit = !this.edit
    },
    cancelEdit () {
      this.$store.commit("cancelTraineeEdit")
      this.edit = !this.edit
    },
    deleteTrainee (action) {
      this.delete_modal = !this.delete_modal
      if (!action) return
      this.$store.commit("deleteTrainee", this.selected)
      this.delete_modal = !this.delete_modal
      this.selected =
        this.traineesOptions.length > 0 ? this.traineesOptions[0] : ref(null)
    }
  },
  mounted () {
    this.selected = this.traineesOptions[0]
  }
}
</script>
