<template>
  <h5 style="margin: 10px">{{ plan.title }}</h5>
  <TrainingComp
    :planId="this.$route.params.planId"
    :tsId="this.$route.params.tsId"
    :nodeId="node"
  >
  </TrainingComp>
</template>

<script>
import TrainingComp from "../components/TrainingComp.vue"
export default {
  name: "Train",
  components: { TrainingComp },
  computed: {
    plan () {
      return this.$store.getters.getPlanById(this.$route.params.planId)
    },
    node () {
      return this.$store.getters.getLastClickedNode
    }
  }
}
</script>
