<template>
  <vue3-mermaid
    :key="this.$route.params.id"
    :nodes="nodes"
    @nodeClick="goto"
    type="graph TD"
  ></vue3-mermaid>
</template>

<script>
export default {
  name: "Graph",
  props: ["nodes", "planId"],
  methods: {
    goto (id) {
      const redirect = this.nodes
        .find(node => node.id === id)
        .redirectTo.split(":")
      if (redirect[0] === "ts") {
        this.$router.push(`/train/${this.planId}/${redirect[1]}`)
      } else {
        this.$router.push(`/plan/${redirect[1]}`)
      }
      this.$store.commit("setLastClickedNode", id)
    }
  }
}
</script>
