<template>
  <q-layout view="hHh lpr fFf">
    <q-header reveal elevated class="bg-teal text-white">
      <q-toolbar>
        <q-btn flat round icon="menu" @click="toggleLeftDrawer" />
        <q-toolbar-title>
          <span class="cursor-pointer" @click="this.$router.push('/')">
            {{ $route.name != "Home" ? $route.name : "InCA Train" }}
          </span>
        </q-toolbar-title>
        <q-btn round v-if="trainees.length > 0">
          <q-avatar
            color="primary"
            text-color="white"
            size="40px"
            @click="card = !card"
          >
            {{ trainees[0].name.substring(0, 1).toUpperCase() }}
          </q-avatar>
        </q-btn>
        <q-btn round v-else flat disable>
          <q-avatar color="teal" text-color="white" size="40px"> </q-avatar>
        </q-btn>
      </q-toolbar>
    </q-header>
    <q-drawer
      v-model="leftDrawerOpen"
      side="left"
      overlay
      elevated
      :width="200"
    >
      <q-list>
        <template v-for="(menuItem, index) in menuList" :key="index">
          <q-item clickable :to="menuItem.route" v-ripple exact>
            <q-item-section avatar>
              <q-icon :name="menuItem.icon" />
            </q-item-section>
            <q-item-section>
              {{ menuItem.label }}
            </q-item-section>
          </q-item>
          <q-separator :key="'sep' + index" v-if="menuItem.separator" />
        </template>
      </q-list>
    </q-drawer>
    <q-dialog v-model="card">
      <q-card style="min-width: 200px">
        <q-card-section class="row items-center  ">
          <div class="text-h6">Select Trainee</div>
          <q-space />
          <q-btn icon="close" flat round @click="card = !card" />
        </q-card-section>
        <q-list>
          <template v-for="(trainee, index) in trainees" :key="index">
            <q-item
              clickable
              v-close-popup
              @click="selectTrainee(index)"
              :class="index == 0 ? 'bg-blue-grey-2' : ''"
            >
              <q-item-section avatar>
                <q-avatar color="primary" text-color="white" size="40px">
                  {{ trainee.name.substring(0, 1).toUpperCase() }}
                </q-avatar>
              </q-item-section>
              <q-item-section>
                {{ trainee.name }}
              </q-item-section>
            </q-item>
            <q-separator />
          </template>
        </q-list>
      </q-card>
    </q-dialog>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { ref } from "vue"

export default {
  name: "Layout",
  title: "InCA Train",
  setup () {
    const leftDrawerOpen = ref(false)
    const card = ref(false)

    return {
      leftDrawerOpen,
      card,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  },
  data () {
    return {
      menuList: [
        {
          icon: "home",
          label: "Home",
          separator: true,
          route: "/"
        },
        {
          icon: "pets",
          label: "Trainees",
          separator: true,
          route: "/trainees"
        },
        {
          icon: "description",
          label: "Plans",
          separator: true,
          route: "/planlist"
        },
        {
          icon: "list",
          label: "Logs",
          separator: true,
          route: "/log"
        },
        {
          icon: "settings",
          label: "Settings",
          separator: true,
          route: "/settings"
        },
        {
          icon: "info",
          label: "About",
          separator: true,
          route: "/about"
        }
      ]
    }
  },
  computed: {
    trainees () {
      return this.$store.getters.getTrainees
    }
  },
  methods: {
    selectTrainee (id) {
      this.card = !this.card
      this.$store.commit("selectTrainee", id)
      this.$router.push("/")
    }
  }
}
</script>
