//TODO: Refactor (muchas cosas pasan aqui, simplificar/separar/renombrar
variables?)
<template>
  <div class="container" v-if="!completed">
    <div class="row justify-center">
      <div class="col-md-3 col">
        <div class="q-pa-sm">
          <q-carousel
            disable
            v-model="blockNumber"
            navigation-position="top"
            navigation
            padding
            animated
            transition-next="slide-left"
            transition-prev="slide-right"
            height="300px"
            class="bg-teal text-black shadow-1 rounded-borders "
          >
            <!-- Este template genera los botones 'a la mala' para desactivar los clicks
                    Pero que igual se pueda scrollear en caso de mucho texto(para no usar class='no-cursor-events') -->
            <template v-slot:navigation-icon="{ active, btnProps }">
              <q-btn
                v-if="active"
                size="sm"
                :icon="btnProps.icon"
                outline
                flat
                round
              />
              <q-btn
                v-else
                size="sm"
                :icon="btnProps.icon"
                color="white"
                flat
                round
                disable
              />
            </template>
            <q-carousel-slide
              v-for="el in trainingSession"
              :name="el.id"
              :key="el.id"
              class="column no-wrap flex-center"
            >
              <q-scroll-area class="fit bg-white">
                <template
                  v-for="(instruction, index) in el.instructions"
                  :key="index"
                >
                  <div class="q-mt-md text-body1">
                    {{ instruction }}
                  </div>
                  <q-separator v-if="el.instructions.length > 1" />
                </template>
              </q-scroll-area>
            </q-carousel-slide>
            <template
              v-slot:control
              v-if="trainingSession[blockNumber].linkToVid != ''"
            >
              <q-carousel-control position="bottom-right" :offset="[18, 18]">
                <q-btn
                  push
                  round
                  dense
                  color="white"
                  text-color="primary"
                  icon="videocam"
                  @click="video = !video"
                />
              </q-carousel-control>
            </template>
          </q-carousel>
        </div>
        <div class="q-pa-md">
          <q-badge class="text-body1" color="secondary">
            Do at least {{ trainingSession[blockNumber].repeat }} Times
            Correctly
            <br />
            {{ repetitions[blockNumber] }} /
            {{ trainingSession[blockNumber].repeat }}
          </q-badge>
          <br />
          <q-rating
            readonly
            v-model="repetitions[blockNumber]"
            :max="trainingSession[blockNumber].repeat"
            size="3em"
            color="green-5"
            icon="star_border"
            icon-selected="star"
            icon-half="star_half"
          />
        </div>
        <div class="row justify-center items-center">
          <div class="col">
            <q-btn
              style="margin-left:5px"
              size="15px"
              @click="controller('failed')"
              label="Failed"
              color="negative"
            />
          </div>
          <div class="col">
            <q-btn size="40px" @click="controller('correct')" flat>
              <q-icon class="text-dark">
                <q-img src="./../assets/training.png" />
              </q-icon>
            </q-btn>
          </div>
          <div class="col">
            <q-btn
              style="margin-left:5px"
              size="15px"
              @click="controller('half')"
              label="So-so"
              color="positive"
            />
          </div>
        </div>
        <div class="row justify-center">
          <q-btn label="undo" color="yellow-8" @click="undo()" />
        </div>
        <div
          style="margin-top: 15px; padding-bottom: 10px"
          class="row justify-between"
        >
          <div class="col">
            <q-btn
              icon="arrow_back"
              size="15px"
              @click="back"
              label="Back"
              color="cyan-5"
              :outline="blockNumber === 0 ? true : false"
              :disable="blockNumber === 0 ? true : false"
            />
          </div>
          <div class="col">
            <q-btn size="15px" @click="exitModal()" label="Exit" color="red" />
          </div>
          <div class="col">
            <template v-if="blockNumber === trainingSession.length - 1">
              <q-btn
                color="cyan-5"
                size="15px"
                label="Finish"
                @click="completeSession()"
                :outline="!finish"
                :disable="!finish"
              />
            </template>
            <template v-else>
              <q-btn
                color="cyan-5"
                icon-right="arrow_forward"
                size="15px"
                label="Next"
                @click="next()"
                :outline="
                  repetitions[blockNumber] < trainingSession[blockNumber].repeat
                "
                :disable="
                  repetitions[blockNumber] < trainingSession[blockNumber].repeat
                "
              />
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" v-else>
    <h3>Good Job!</h3>
    <p class="text-h5">Next Session will be on:</p>
    <p class="text-h5">{{ new Date(nSession).toString().substring(0, 10) }}</p>
    <div class="q-gutter-md">
      <q-btn size="15px" @click="plan" label="Back to Plan View" color="teal" />
      <q-btn size="15px" @click="home" label="Go Home" color="info" />
      <br />
    </div>
  </div>

  <q-dialog v-model="undo_modal">
    <q-card style="min-width: 350px">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Undo</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>
      <q-separator />
      <q-card-section>
        <q-btn @click="undo()" label="a" />
      </q-card-section>
    </q-card>
  </q-dialog>

  <q-dialog v-model="exit_modal">
    <q-card style="min-width: 350px">
      <q-card-section class="row items-center">
        <span class="q-ml-sm">
          Are you sure you want to exit?
        </span>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn
          label="Yes"
          color="negative"
          @click="exit_comment_modal = !exit_comment_modal"
          v-close-popup
        />
        <q-btn label="No" color="primary" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>

  <q-dialog v-model="exit_comment_modal">
    <q-card style="min-width: 350px">
      <q-card-section>
        <div class="text-h6">Reason(s) to finish the session</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <q-input dense v-model="exit_message" autofocus autogrow />
      </q-card-section>
      <q-card-section>
        <q-checkbox v-model="penalize" label="Penalize plan level" />
        <template v-if="penalize">
          <q-input
            v-model.number="penalization"
            type="number"
            style="max-width: 200px"
            :rules="[
              val => (val !== null && val !== '') || 'Please type a number',
              val =>
                (val > 0 && val < 100) || 'Penalization must be greater than 0'
            ]"
          />
        </template>
      </q-card-section>
      <q-card-actions align="right" class="text-primary">
        <q-btn flat label="Cancel" v-close-popup />
        <q-btn flat label="Save and exit" @click="exit()" />
      </q-card-actions>
    </q-card>
  </q-dialog>

  <q-dialog v-model="video">
    <q-card style="min-width:350px">
      <q-video
        :src="trainingSession[blockNumber].linkToVid"
        ratio="1"
      ></q-video>
    </q-card>
  </q-dialog>
</template>
<script>
import { ref, reactive } from "vue"

const audio = new Audio(require("./../assets/click.mp3"))
const fail = new Audio(require("./../assets/buzz.wav"))
export default {
  name: "TrainingComp",
  data () {
    return {
      completed: ref(false),
      nSession: new Date(),
      blockNumber: 0,
      undo_modal: ref(false),
      exit_modal: ref(false),
      exit_comment_modal: ref(false),
      exit_message: ref(""),
      finish: ref(false),
      video: ref(false),
      penalize: ref(false),
      penalization: ref(1)
    }
  },
  props: ["planId", "tsId", "nodeId"],
  computed: {
    icon () {
      return require("./../assets/training.png")
    },
    trainingSession () {
      return this.$store.getters.getTrainingSession(this.planId, this.tsId)
    },
    repetitions () {
      return reactive(new Array(this.trainingSession.length).fill(0))
    },
    logsStack () {
      return Array.from(Array(this.trainingSession.length), () => new Array())
    }
  },
  methods: {
    controller (kind) {
      if (kind === "correct") {
        audio.volume = 1
        audio.play()
        this.repetitions[this.blockNumber] += 1
        this.logsStack[this.blockNumber].push(1)
        this.log("Did Correctly")
      } else if (kind === "half") {
        audio.volume = 1
        audio.play()
        this.repetitions[this.blockNumber] += 0.5
        this.logsStack[this.blockNumber].push(0.5)
        this.log("Did So-So")
      } else if (kind === "failed") {
        fail.volume = 1
        fail.play()
        this.logsStack[this.blockNumber].push(0)
        this.log("Failed")
      }
      if (
        this.blockNumber >= this.trainingSession.length - 1 &&
        this.repetitions[this.blockNumber] >=
          this.trainingSession[this.blockNumber].repeat
      ) {
        this.finish = true
      }
    },
    back () {
      this.blockNumber--
    },
    completeSession () {
      this.completed = true
      this.$store.commit("completedSession", {
        planId: this.planId,
        nodeId: this.nodeId
      })
      this.nSession = this.$store.getters.calculateNextSession(this.planId)
      this.log("Finished")
    },
    plan () {
      this.$router.push(`/plan/${this.planId}`)
    },
    home () {
      this.$router.push("/")
    },
    undo () {
      if (this.logsStack[this.blockNumber].length) {
        this.repetitions[this.blockNumber] -= this.logsStack[
          this.blockNumber
        ].pop()
        if (
          this.finish &&
          this.repetitions[this.blockNumber] <
            this.trainingSession[this.blockNumber].repeat
        ) {
          this.finish = false
        }
        this.log("Undid")
      }
    },
    next () {
      this.blockNumber++
    },
    log (action) {
      const payload = {
        planId: this.planId,
        tsId: this.tsId,
        action: action,
        text: this.exit_message,
        blockNumber: this.blockNumber + 1,
        correct: this.repetitions[this.blockNumber],
        expected: this.trainingSession[this.blockNumber].repeat
      }
      this.$store.commit("logAction", payload)
    },
    exit () {
      this.log("Exit")
      if (this.penalize) {
        this.$store.commit("decreasePlanLevel", {
          planId: this.planId,
          decrease: this.penalization
        })
      }
      this.$router.push("/")
    },
    exitModal () {
      this.exit_modal = !this.exit_modal
      this.penalization = ref(this.$store.getters.getSettings.exitPenalty)
    }
  },
  mounted () {
    this.log("Start")
  }
}
</script>

<style scoped>
div.textbox {
  display: grid;
  align-items: center;
  text-align: center;
  padding: 10px 30px 10px 10px;
  margin-top: 20px;
  margin: auto;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 1px 5px 7px 1px rgba(51, 51, 51, 0.23);
  cursor: pointer;
  background-color: #fff;
}

div.value {
  color: #979cb0;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.64px;
  margin-left: 12px;
}
</style>
