<template>
  <div v-if="updateExists">
    <div class="container items-center">
      <q-banner class="bg-grey-3">
        An update is available!
        <template v-slot:action>
          <q-btn @click="refreshApp" flat color="primary" label="Update" />
        </template>
      </q-banner>
    </div>
  </div>
  <div v-else>
    <!-- <div v-if="!logedIn">
      <Login />
    </div>
    <div v-else>
      <Layout />
    </div> -->
    <Layout />
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>

<script>
// import Login from './views/Login.vue'
import Layout from './components/Layout.vue'
import update from './mixins/update'

export default {
  name: 'App',
  title: 'InCA Train',
  //   components: { Login, Layout },
  components: { Layout },
  computed: {
    trainees () {
      return this.$store.getters.getTrainees
    },
    logedIn () {
      return this.$store.getters.logedIn
    }
  },
  //   estos solo cambian el background para el caso del login, ya que no supe como cambiar
  //   el color de toda la pagina de otra forma
  //   comentado por que ya no habra login en esta iteracion
  //   mounted () {
  //     const body = document.getElementsByTagName('body')[0]
  //     body.style.backgroundColor = this.logedIn ? 'white' : 'teal'
  //   },
  //   updated () {
  //     const body = document.getElementsByTagName('body')[0]
  //     body.style.backgroundColor = this.logedIn ? 'white' : 'teal'
  //   },
  mixins: [update]
}
</script>
