<template>
  <q-dialog v-model="showModal">
    <q-card style="min-width: 350px;">
      <q-card-section class="row q-pb-none">
        <span class="text-h6 text-left">
          <slot name="header"></slot>
        </span>
        <q-space />
        <q-btn icon="close" flat round dense @click="closeModal" />
      </q-card-section>
      <q-separator />
      <!-- Content -->
      <q-card-section v-if="!disableDefaultContent">
        <span class="q-ml-sm">
          <slot name="cardSection"></slot>
        </span>
      </q-card-section>
      <template v-else>
        <slot name="contentSection"></slot>
      </template>
      <!-- Actions -->
      <q-card-actions align="right" v-if="!disableDefaultActions">
        <q-btn
          label="Yes"
          :color="flipActions ? 'primary' : 'negative'"
          @click="emitAction(true)"
        />
        <q-btn
          label="No"
          :color="flipActions ? 'negative' : 'primary'"
          @click="emitAction(false)"
        />
      </q-card-actions>
      <template v-else>
        <slot name="cardActions"></slot>
      </template>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  name: "Modal",
  props: {
    disableDefaultActions: {
      type: Boolean,
      default: false
    },
    disableDefaultContent: {
      type: Boolean,
      default: false
    },
    flipActions: {
      type: Boolean,
      default: false
    }
  },
  data () {
    const showModal = true
    return { showModal }
  },
  methods: {
    closeModal () {
      this.showModal = !this.showModal
      this.$emit("closeModal")
    },
    emitAction (action) {
      this.showModal = !this.showModal
      this.$emit("action", action)
    }
  }
}
</script>
